@import "src/styles/colors";
@import "src/styles/vars";

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.form {
  width: 22.5rem;
}

.logo {
  width: auto;
  height: 5.625rem;
  margin-bottom: var(--space-48px);
  fill: var(--color-logo);
}

.title {
  margin-bottom: var(--space-16px);
  font-size: var(--font-size-36px);
  color: var(--color-text-primary);
  text-align: center;
}

.subtitle {
  margin-bottom: var(--space-48px);
  font-size: var(--font-size-18px);
  color: var(--color-text-secondary);
  text-align: center;
}

.input {
  margin-bottom: var(--space-12px);
}

.button {
  margin-bottom: var(--space-12px);
}
