.MuiButton-root {
  font-size: var(--font-size-18px);
  color: var(--color-text-primary);
  text-transform: none;
  border-radius: var(--radius-8px);

  &.MuiButton-contained.MuiButton-containedPrimary {
    background-color: var(--color-button-primary);

    &:hover {
      background-color: var(--color-button-primary-hover);
    }
  }

  &.MuiButton-text.MuiButton-textPrimary:hover {
    background-color: var(--color-button-text-hover);
  }
}
