.MuiDialog-root {
  .MuiPaper-root {
    width: 25.5rem;
    min-width: fit-content;
    padding: var(--space-24px);
    background-color: var(--color-modal-background);
    border-radius: var(--radius-12px);
    box-shadow: 0 var(--space-4px) var(--space-16px) rgb(0 0 0 / 20%);
  }
}
