@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
  font-display: swap;
}
