@import "src/styles/colors";
@import "src/styles/vars";

// TextField Outlined MUI

.override.input-mui {
  .MuiOutlinedInput-root {
    width: 100%;
    height: $rem-size-52px;

    &.Mui-error {
      .MuiOutlinedInput-notchedOutline {
        border-color: $red-color;
      }
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: $light-gray-color;
    border-radius: $rem-size-8px;
  }

  &:hover {
    .MuiOutlinedInput-notchedOutline {
      border-color: $white-color;
    }

    .MuiInputLabel-root {
      color: $white-color;
    }
  }

  .MuiInputLabel-root {
    color: $light-gray-color;

    &.Mui-focused {
      color: $purple-color;
    }

    &.Mui-error {
      color: $red-color;
    }
  }

  input {
    color: white;
  }

  input:focus ~ .MuiOutlinedInput-notchedOutline {
    border-color: $purple-color;

    & ~ label {
      color: $purple-color;
    }
  }

  .MuiFormHelperText-root {
    color: $white-color;

    &.Mui-error {
      color: $red-color;
    }
  }
}
