@import "./override-mui";
@import "./colors";

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: $background-color;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}
