$form-width: 22.5rem;

$rem-size-4px: 0.25rem;
$rem-size-6px: 0.375rem;
$rem-size-8px: 0.5rem;
$rem-size-12px: 0.75rem;
$rem-size-14px: 0.875rem;
$rem-size-16px: 1rem;
$rem-size-18px: 1.125rem;
$rem-size-20px: 1.25rem;
$rem-size-24px: 1.5rem;
$rem-size-28px: 1.75rem;
$rem-size-32px: 2rem;
$rem-size-36px: 2.25rem;
$rem-size-40px: 2.5rem;
$rem-size-44px: 2.75rem;
$rem-size-48px: 3rem;
$rem-size-52px: 3.25rem;
