:root {
  --space-4px: 0.25rem;
  --space-8px: 0.5rem;
  --space-12px: 0.75rem;
  --space-16px: 1rem;
  --space-20px: 1.25rem;
  --space-24px: 1.5rem;
  --space-28px: 1.75rem;
  --space-32px: 2rem;
  --space-36px: 2.25rem;
  --space-40px: 2.5rem;
  --space-44px: 2.75rem;
  --space-48px: 3rem;
  --space-52px: 3.25rem;

  --font-size-14px: 0.875rem;
  --font-size-16px: 1rem;
  --font-size-18px: 1.125rem;
  --font-size-20px: 1.25rem;
  --font-size-24px: 1.5rem;
  --font-size-36px: 2.25rem;
  --font-size-48px: 3rem;

  --radius-4px: 0.25rem;
  --radius-8px: 0.5rem;
  --radius-12px: 0.75rem;
  --radius-16px: 1rem;
}
