@import "src/styles/colors";
@import "src/styles/vars";

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  background-color: $dark-gray-color;
}

.form {
  width: $form-width;
}

.title {
  margin-bottom: $rem-size-16px;
  font-size: $rem-size-36px;
  color: $white-color;
  text-align: center;
}

.subtitle {
  margin-bottom: $rem-size-24px;
  font-size: $rem-size-18px;
  color: $light-gray-color;
  text-align: center;
}

.input {
  margin-bottom: $rem-size-12px;
}

.button {
  margin-bottom: $rem-size-12px;
}
